@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700;800&display=swap");
:root {
  --primary-color: #00ffc8;
  --secondary-color: #ff006a;
  --text-primary: #e0e0e0;
  --text-netural: #8d8d8d;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  overflow: hidden;
  background-color: rgb(6 9 9);
  color: aliceblue;
  font-family: "Roboto", sans-serif;
}

.header-wrapper {
  width: 100%;
  background-image: radial-gradient(
      63% 51% at -7% 43%,
      #ff006a3b,
      hsla(0, 0%, 100%, 0)
    ),
    radial-gradient(67% 88% at 81% 0%, #07ffca3d, hsla(0, 0%, 100%, 0));
}

/* Navbar */
.navbar {
  width: 100%;
  position: sticky;
  top: 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.logo {
  font-size: 1.5rem;
  font-weight: 700;
}
.logo span:nth-child(1) {
  color: var(--primary-color);
}
.logo span:nth-child(2) {
  color: var(--secondary-color);
}
.page-links {
  max-width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.page-links li {
  list-style: none;
}
.page-links li a {
  font-size: 14px;
  text-decoration: none;
  color: var(--text-primary);
  transition: all 0.3s ease;
}
.page-links li a:hover {
  color: var(--primary-color);
}

/* Hero */
.hero-wrapper {
  max-width: 700px;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
}
.profile-image {
  width: 120px;
  height: 120px;
  border: 2px solid var(--text-primary);
  box-shadow: 0px 0px;
  transition: all 0.3s ease;
  border-radius: 50%;
  margin-top: 4.5rem;
}
.profile-image:hover {
  box-shadow: 5px 5px var(--secondary-color);
}
.hero-name {
  margin-top: 10px;
  margin-bottom: 2rem;
}
.hero-title {
  font-size: 4.6rem;
  line-height: 72px;
  padding: 20px 0;
}
.hero-text {
  color: var(--text-netural);
  padding: 10px;
}
.hero-text span {
  color: var(--primary-color);
  padding: 0 5px;
}
.hero-button {
  margin-top: 50px;
  padding: 16px 30px !important;
  text-transform: uppercase;
}

/* Skill section */
.skill-section {
  max-width: 900px;
  margin: 0 auto;
  margin-top: 7rem;
  padding: 3rem 0;
}
.skill-grid {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 10px;
}
.skill-grid div {
  min-height: 120px;
  background: rgb(17 22 22);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  transition: all 0.3s ease;
}
.skill-1 {
  grid-column: 1/3;
  grid-row: 1/3;
}
.skill-2 {
  grid-column: 3/5;
}
.skill-6 {
  grid-column: 2/4;
}
.skill-grid :nth-last-child(-n + 3) {
  /* This selects the last three items in the grid */
  grid-row: span 2; /* Specify the desired span for the last row items */
}
